
<%- include('header'); -%>
<br>
<br>
<section class="engine"><a href="https://mobirise.info/m">free website design templates</a></section><section class="mbr-section content4 cid-rZ5HAak33P" id="content4-i">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Qui sommes nous?</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rZ5HTKi4mL" id="content1-k">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-10"><p><strong>Nous sommes la Nouvelle Orientation Unifiée pour Liberer Hayti et nous avons pour Sigle NOULHA. Nous avons pris naissance le 19 aout 2019 en vue d'apporter du renouveau au sein de la classe politique</strong></p><p><strong>Notre siege social se situe au numéro 22-24, Rue Lespinasse, Delmas 75, et peut etre deplacé à tout moment suivant les besoins du parti et la necessité de l'heure. Notre embleme est une chaude poignée de mains, entre un noir et un mulatre, symbole de la solidarité agissante devant exister entre toutes les forces vives du pays. Les couleurs officiels du parti sont le Flamingo et le blanc</strong></p></div>
        </div>
    </div>
</section>

<section class="timeline2 cid-rZ5IlGYc10" id="timeline2-l">

    

    

    <div class="container align-center">
        
        

        <div class="container timelines-container" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbri-pages mbr-iconfont"></span>
                </span>          
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Pourquoi Hayti et non pas Hayiti?</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Apres maintes recherches, nous avons pu savoir que l'ortographe officiel est Hayti, c'est celui la qui a été ainsi inscrit dans l'acte de l'independance ainsi que dans tous les documents officiels signé par Jean Jacques Dessalinnes ainsi que les peres fondateurs de la nation.
                        </p>
                     </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element ">
                <span class="iconsBackground">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Les valeurs prônées par NOULHA</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            NOULHA est un parti Centre Gauche qui prone le Social Democratie. Nous defendons un ensemble de valeurs qui sont: La Solidarité, Le Civisme et le Patriotisme, Le Respect de la Chose Publique, Le Respect de la propriété, Le Volontariat et La Tolérance.
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            
            <!--4-->
            
            <!--5-->
            
            <!--6-->
            
            <!--7-->
            
            <!--8-->
            
            <!--9-->
            
            <!--10-->
            
            <!--11-->
            
            <!--12-->
            
        </div>
    </div>
</section>

<section class="step1 cid-rZ5IXTu6x0" id="step1-m">

    

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">Comment devenir membre de NOULHA?</h2>
        
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            C'est vrai qu'il y a plusieurs partis politiques en Hayti mais ils ne jouent pas leur role dans la vie de la communauté. NOULHA n'est pas un parti en plus, NOULHA est un parti, un vrai qui prone le changement du systeme, le dialogue et le vivre ensemble etc.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Pour devenir membre de NOULHA, vous devez remplir ces conditions: 1- Remplir le formulaire d'incription 2- Presenter votre carte electorale 3- Etre d'accord pour respecter les principes de NOULHA 4-N'etre membre d'aucun structure ou parti politique 5-Payer les 100 gdes pour les frais d'inscription.</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        
                        <p class="mbr-step-text mbr-fonts-style display-7">NOULHA entend faire la politique autrement en donnant la meme chance à tout un chacun. Donc, un jeune qui voudrait etre membre de NOULHA a toute la possibilité de servir au plus haut niveau dans la coordination car nous avons un leadership collectif. C'est le mérite et non le favoritisme. Nous accordons beaucoup d'importance à la jeunesse c'est pourquoi nous allons bientot lancer un programme d'appui aux "finissants désireux de préparer leurs mémoires" des directeurs de memoires ainsi que des mentors von etre disponible au solde de NOULHA afin de les venir en aide.<br><br></p>
                    </div>
                </div>
            </div>

            
            
            
            
            
            
            
            
            
            
            
        </div>
    </div>
</section>

  
  
<%- include ('footer') -%>