<%- include('header'); -%>

<section class="engine"><a href="https://mobirise.info/s">free bootstrap theme</a></section><section class="mbr-section content4 cid-rZ5MjLq8ba" id="content4-t">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Nous vous Ecoutons</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Nous aimerions recevoir de vos nouvelles. Intéressé à travailler ensemble? Remplissez le formulaire ci-dessous avec quelques informations et laissez nous vos idées, conseils, suggestions ou projet et nous vous répondrons dans les plus brefs délais. Veuillez prévoir quelques jours pour analyse de dossier et reponse.</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section contacts3 cid-rZ5LDogdNY" id="contacts3-r">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-thumbs-o-up fa"></span>
                            </span>
                            <div class="b-info b-adress">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Address:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    Delmas 75, Avenue Fragneau-Ville Rue Lespinasse #22-24 (a coté de l'Hopital Espoir)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-phone fa"></span>
                            </span>
                            <div class="b-info b-phone">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Phone:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    (509) 3716-9660/ 3805-1091 / 3750-4011
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-comment-o fa"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    E-mail:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    noulha@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form4 cid-rZ5LKXLyS1" id="form4-s">

    

    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6">
                <h2 class="pb-3 align-left mbr-fonts-style display-2">
                    Formulaire de Contact</h2>
                <div>
                    <div class="icon-block pb-3 align-left">
                        
                        
                    </div>
                    
                </div>
                <div data-form-type="formoid">
                    <!---Formbuilder Form--->
                    <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="GaBga0z1yhxVE6PWoSemX2c8wUu+b8qluYctKNZ6//MsRi0e/ExO0rlyY8fyV2g/Xvy0n0Iy7gpitNzkjt9DdvGJo0YM3xppp6rvLEtT8VpGF9OBABWG69NIgshZhdUD">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Merci!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md-6  form-group" data-for="name">
                                <input type="text" name="name" placeholder="Nom " data-form-field="Name" required="required" class="form-control input display-7" id="name-form4-s">
                            </div>
                            <div class="col-md-6  form-group" data-for="phone">
                                <input type="text" name="phone" placeholder="Telephone" data-form-field="Phone" required="required" class="form-control input display-7" id="phone-form4-s">
                            </div>
                            <div data-for="email" class="col-md-12  form-group">
                                <input type="text" name="email" placeholder="Email" data-form-field="Email" class="form-control input display-7" required="required" id="email-form4-s">
                            </div>
                            <div data-for="message" class="col-md-12  form-group">
                                <textarea name="message" placeholder="Message" data-form-field="Message" class="form-control input display-7" id="message-form4-s"></textarea>
                            </div>
                            <div class="col-md-12 input-group-btn  mt-2 align-center"><button type="submit" class="btn btn-form btn-danger display-4">Envoyer</button></div>
                        </div>
                    </form><!---Formbuilder Form--->
                </div>
            </div>
        </div>
    </div>
</section>


  
  
<%- include ('footer');-%>